<!DOCTYPE html>
<html>
<body>
    <form action="http://localhost:3000/auth/oauth/addinfo" method="POST">
        <input type="text" name="nickname">
        <button type="submit">submit</button>
    </form>
</body>
</html>